
body{
  
}
@font-face {
    font-family: Open Sans;
	src: url(../fonts/open_sans.ttf);
 }
header{
display: block;
color: grey;
font-family: Open Sans;
position: absolute;
font-size: 14pt;
top: 140px;
left: 44%;
white-space: nowrap;
padding: 0pt;
}
#logout{
	position: absolute;
	height: 70px;
	width: 330px;
	top: 40px;
	left: 40%;
	box-shadow: 1px 1px 5px grey;
	background-color: #F7F7F7;
}
#exit{
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	width: 224px;
	height: 30px;
	font-size: 12pt;
	text-align: center;
	color: #F0F8FF;
	border-radius: 4px;
	background-color: #CC0033;
	border: none;
}
#exit:hover{
	background-color: #990000;
}

#main{
	height: 470px;
	background-color: #F7F7F7;
	box-shadow: 1px 1px 5px grey;
	min-width: 330px;
	min-height: 460px;
	position: absolute;
	top: 170px;
	left: 40%;
	}

.inputs{
	font-family: Open Sans;
	margin-top: 10px;
	margin-left: 55px;
	padding: 10px;
	width: 200px;
	height: 10px

}
#submit{
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 224px;
	height: 40px;
	font-size: 12pt;
	text-align: center;
	color: #F0F8FF;
	border-radius: 4px;
	background-color: #4B8DF8;
	border: none;
}
#submit:hover{
background-color: #4185F3;
}

.iHaveAccountBlock{
	display: inline;
	margin-left: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.iHaveAccount{
text-decoration: none;
	font-size: 9pt;
	text-align: left;
	color: black;
	font-family: Open Sans;
}
.chekbox1{
	display: inline;
	text-align: right;
	margin-left: 135px;
}
.chekbox2{
	display: inline;
	text-align: right;
	margin-left: 102px;
}
label {
	display: inline;
	text-align: left;
	font-size: 11pt;
	font-family: Open Sans;
	margin-left: 55px
}
 input:required {
    border: 1px solid red; /* Красная рамка для обязательных полей */
 }
select{
	font-family: Open Sans;
 	padding: 5px;
 	margin-top: 10px;
 	margin-left: 55px;
	width: 225px;
	height: 35px;
	color: grey;
}
.option1{
	color: black;
}

#headlabel{
	margin-left: 0;
	display:inline-block;
	text-align: center;
	width: 330px;
	height: 20px;
}